* {
    margin: 0px;
    padding: 0px;
}

body {
    margin: 0px;
    width: 716px;
    height: 850px;
    display: flex;
    flex-direction: column;
    margin: 20px;
}

#displayScreenContainer {
    height: 150px;
    text-align: end;
    font-size: 30px;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}

#textDisplayTop {
    color: grey;
}

#clearUndoContainer {
    height: 150px;
    width: 175px;
    display:flex;
    flex-direction: column;
}

#buttonUndo {
    height: 75px;
    width: 175px;
    text-align: start;
    align-content: center;
    cursor: pointer;
}

#buttonClear {
    height: 75px;
    width: 175px;
    text-align: start;
    align-content: center;
    cursor: pointer;
}

#buttonContainer {
    height: 700px;
    display: flex;
    flex-wrap: wrap;
}

button,
li,
#buttonDecimal {
    list-style-type: none;
    height: 175px;
    width: 175px;
    font-size: 50px;
    text-align: center;
    border: solid black 1px;
    box-sizing: border-box;
    align-content: center;
    cursor: pointer;
    margin: 2px;
    border-radius: 3px;
    background-color:rgb(200, 222, 241);
}

li,
#buttonDecimal {
    background-color:rgb(172, 190, 206);   
}

#textDisplayBottom {
    font-size: 80px;
}

